<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.simple.basic.service.score.ScoreMapper">

	<!-- 매개변수는 1개여야 함. vo타입의 객체라면 #{getter} 사용해서 매개변수를 참조함 -->
	<insert id="regist" parameterType="ScoreVO">
		INSERT INTO SCORE(SNO, NAME, KOR, ENG, MATH)
		VALUES(SCORE_SEQ.NEXTVAL, #{name}, #{kor}, #{eng}, #{math} )
	</insert>

	<!-- 필수 resultType="select가 반환받을 타입" -->

	<select id="getScore" resultType="ScoreVO">
		select * from SCORE order by sno desc
	</select>


	<!-- 파라미터가 1개면, 인터페이스의 매개변수명을 #{매개변수} 쓰면 됩니다. -->
	<delete id="delete" parameterType="int">
		delete from SCORE where sno = #{sno}
	</delete>
	
</mapper>
  